@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Spectral';
  src: url('./public/fonts/Spectral-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral';
  src: url('./public/fonts/Spectral-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('./public/fonts/Spectral-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral';
  src: url('./public/fonts/Spectral-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('./public/fonts/Spectral-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral';
  src: url('./public/fonts/Spectral-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('./public/fonts/Spectral-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral';
  src: url('./public/fonts/Spectral-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('./public/fonts/Spectral-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral';
  src: url('./public/fonts/Spectral-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('./public/fonts/Spectral-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral';
  src: url('./public/fonts/Spectral-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('./public/fonts/Spectral-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('./public/fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('./public/fonts/LibreBaskerville-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('./public/fonts/LibreBaskerville-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Définissez la police de base pour le corps du document */
body {
  font-family: 'LibreBaskerville', sans-serif;
}
